# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
*.log
*.sqlite3
db.sqlite3
.env
.venv/
venv/
ENV/
env/
*.db

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Misc
*.swp
*.swo
.idea/
*.bak
*.tmp